/* Venue section styling */
#venue {
  background-color: #00205b; /* Marvel Blue */
}

/* Heading */
.aboutHeader h2 {
  /* Use Marvel Red gradient for text */
  background: -webkit-linear-gradient(#ed1d24, #ed1d24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Text */
.aboutHeader p {
  color: #ffd700; /* Marvel Gold */
}

/* Google Map */
.m {
  height: 20rem;
  margin-bottom: 7.5rem;
  border-radius: 20px;
  width: 80vw;
  max-width: 100%;
}

/* Icon and address */
.aboutHeader .flex.items-center.mb-10 img {
  filter: invert(100%); /* Invert color for icon */
}
.aboutHeader .flex.items-center.mb-10 p {
  color: #fff; /* White text */
}
