/* Timeline */
.timeline ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline ul li {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.timeline ul li div {
  background: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px; /* Limit maximum width */
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 45%;
  left: -15px; /* Adjusted position */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff; /* White background */
  border: 3px solid #ccc; /* Gray border */
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.timeline ul li:hover div {
  transform: scale(1.05); /* Scale up on hover */
}

.timeline ul li:hover div::before {
  transform: scale(1.1); /* Scale up on hover */
}

.timeline ul li div h3 {
  font-size: 1.5rem; /* Increased font size */
  margin-bottom: 10px; /* Added margin */
  color: #333; /* Darker text color */
}

.timeline ul li div p {
  font-size: 1.2rem; /* Font size for description */
  color: #666; /* Text color */
}
