@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.rubik-dirt-regular {
  font-family: "Rubik_Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}
.faqhead {
  font-family: "Rubik Dirt", sans-serif;
  font-size: 32px; /* Adjust the font size as needed */
  font-weight: 600; /* Adjust the font weight as needed */
  color: #333; /* Adjust the color as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.faqhead{
  font-size: 50px;
  color: white;
  font-weight: 600;
}
.item{
  margin: 10px 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.category{
  background-color: red;
  color: black;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  /* font-size: 25px;
  font-weight: 500; */
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.categorytext{
  width: 90%;
  display: flex;
  align-items: center;
}

.categoryicon{
  width: 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  float: right;
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

.quesans{
  width: 95%;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;

}

.questions{
  padding: 5px;
  cursor: pointer;
}

.question{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0;
  width: 100%;
}

.quesno{
  padding: 3px;
  font-size: 20px;
  color: red;
}

.ques{
  display: flex;
  align-items: center;
  /* font-size: 15px; */
  font-weight: 400;
  color: white;
  width: 90%;
}

.icon{
  font-size: 20px;
  padding: 5px;
  color: red;
  height: 30px;
  width: 30px;
  border: 3px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.ans{
  color: #9b9b9b;
  margin-left: 50px;
  padding: 5px 0;
  /* font-size: 15px; */
}

.h-divider {
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 10px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px  rgb(161, 157, 157);
}

.show {
  max-height: 9999px;
  transition: max-height 0.2s ease-in-out; 
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out; 
} 



/* faq.css */
/* faq.css */
/* faq.css */
.thor-hammer {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  transition: transform 0.2s ease;
}

.hammer-tilt {
  transform: rotate(-10deg);
}

.heading-container {
  display: flex;
  align-items: center;
}
