@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}


.headingText {
    /* margin: auto; */
    font-size: 6rem !important;
    font-family: 'Rubik Dirt';
    color: #ffffff;
    font-weight: bolder !important;
    text-transform: uppercase !important;

    /* background: -webkit-linear-gradient(rgb(24, 13, 238), rgb(215, 33, 9)) !important; */
    /* -webkit-background-clip: text !important; */
    /* -webkit-text-fill-color: transparent !important; */
    /* // textShadow: " -1px 3px 6px white; !important", */

}

@media only screen and (max-width:900px) {
    .headingText {

        font-size: 2rem !important;


    }
}