/* Navbar styling */
.navbar {
  padding: 1rem;
  background-size: cover; /* Ensure the background image covers the entire navbar */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.navbar a {
  color: #000000; /* Marvel Gold */
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
  font-family: 'Bangers', sans-serif; /* Apply Marvel font */
}

.navbar a:hover {
  color: #ff0000; /* Marvel Red */
}

/* My Team */
.navLinks {
  color: #ee0000; /* Marvel Gold */
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
  position: relative;
  font-family: 'Bangers', sans-serif; /* Apply Marvel font */
}

.navLinks:hover {
  color: #000000; /* Marvel Red */
  text-decoration: none;
}

.navLinks:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #ee0000; /* Marvel Gold */
  transition: width 0.5s ease, left 0.5s ease;
}

.navLinks:hover:after {
  width: 100%;
  left: 0;
}
