/* Remove Tailwind CSS import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the background image */
/* import spacebg from 'public/assets/images/spacebg.jpg'; */

@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap"');
/* Apply Marvel font to all text */
* {
    font-family: 'Bangers', sans-serif; /* Substitute with a Marvel-like font */
}
.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Set base colors */
body {
    color: #ff0000; /* Red font color */
    /* Set the background image */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(113, 17, 12, 0.9) 49%, rgba(0,0,0,1) 100%);
    background-repeat: repeat; /* Repeat the background image */
}

/* Add glow effect to headings */
h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 20px #fff, 0 0 2px #ff0000, 0 0 2px #ff0000, 0 0 2px #ff0000; /* White glow */
}

/* Create flickering effect for buttons */
button {
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 1;
    }
    20%, 23%, 63%, 65%, 70%, 100% {
        opacity: 0.3;
    }
}

/* Add heroic glow effect to links */
a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f4f4f4; /* Red glow */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Add floating animation to elements */
@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Apply floating animation to specific elements */
.example {
    animation: floatAnimation 3s ease-in-out infinite;
}
