/* Remove Tailwind CSS import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the background image */
/* import spacebg from 'public/assets/images/spacebg.jpg'; */

@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap"');
/* Apply Marvel font to all text */
* {
    font-family: 'Bangers', sans-serif; /* Substitute with a Marvel-like font */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/vintagebg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Set base colors */
/* Remove Tailwind CSS import */
/* Apply Marvel font to all text */
* {
    font-family: 'Bangers', sans-serif; /* Substitute with a Marvel-like font */
}

/* Set base colors */
/* body {
    color: #ff0000;  */
    
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(45deg, rgb(16, 0, 50) 0%, rgb(9, 9, 9) 55%, rgb(35, 0, 0) 90%); */
    /* background: white;
    background-repeat: repeat; 
    background-color: rgba(255, 255, 255, 1); }/* Repeat the background image */
   
  /* body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pxfuel.com%2Fen%2Fdesktop-wallpaper-xwwkt&psig=AOvVaw0NaRvkzu7q_SNIzDWkrk-Y&ust=1714897799908000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDL16TK84UDFQAAAAAdAAAAABAE'); 
    background-attachment: fixed;/* Replace with your image path */
    /* background-repeat: repeat; /* Make the image repeat */
   /* Ensure the image fills the viewport */
  
   .full-screen-image {
    background: linear-gradient(black, black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 0.7;
  }

  .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.544);
    z-index: -1; 
  }

/* h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 20px #fff, 0 0 2px #ff0000, 0 0 2px #ff0000, 0 0 2px #ff0000; /
} 
*/

/* Create flickering effect for buttons */


@keyframes flickerAnimation {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 1;
    }
    20%, 23%, 63%, 65%, 70%, 100% {
        opacity: 0.3;
    }
}

/* Add heroic glow effect to links */
a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

/* a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f4f4f4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
} */

/* a:hover:before {
    visibility: visible;
    transform: scaleX(1);
} */

/* Add floating animation to elements */
@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Apply floating animation to specific elements */
.example {
    animation: floatAnimation 3s ease-in-out infinite;
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f41e1e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  