@tailwind base;
@tailwind components;
@tailwind utilities;



/* Import Google Fonts */
/* Import Google Fonts */
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Metal+Mania&display=swap');

/* Apply Harry Potter font to all text */
* {
    font-family: 'Metal Mania', cursive;
    color: #ffd700; /* Golden yellow color */
}

.metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Create a magical radial gradient background with stars */
body {
    background: radial-gradient(circle at center, #000033 0%, #000033 30%, #800000 50%, #000033 70%, #000033 100%), linear-gradient(135deg, #000000, #3a0a00, #8b0000, #ff0000, #8b0000, #3a0a00, #000000) !important; /* Deep blue with red in between */
    background-size: cover;
    animation: gradientAnimation 15s ease infinite;
    cursor: url('/assets/images/wand.png'), auto;
    
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Add glow effect to headings */
h1, h2, h3, h4, h5, h6 {
    font-size: 8px; /* Adjust the font size as needed */
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #ffd700, 0 0 60px #ffd700, 0 0 70px #ffd700; /* Golden yellow glow */
}

/* Create flickering effect for buttons */
button {
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 1;
    }
    20%, 23%, 63%, 65%, 70%, 100% {
        opacity: 0.3;
    }
}

/* Add magical glow effect to links */
a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffd700; /* Golden yellow glow */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Add floating animation to elements */
@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Apply floating animation to specific elements */
.example {
    animation: floatAnimation 3s ease-in-out infinite;
}



